<div class="bg-body-green">

    <h1>Failed to Pay order! </h1>
    <div class="float-lg-start">
        <button>Try again</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Return to home screen</a>
    </div>
</div>