<div class="bg-body-green">

<h1>Succesfully payment! </h1>
<div class="float-lg-start">
<a asp-controller="ViewStatus" asp-action="Index" class="btn btn-success">View delivery status</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to home screen</a>
    </div>
</div>